---
import { defineQuery } from "groq";

import type { HomeQueryResult } from "../../sanity/schemas/types";

import { loadQuery } from "../../sanity/utils/load-query";
import Hero from "../components/modules/Hero.astro";

const homeQuery =
  defineQuery(`*[_type == 'page' && metadata.slug.current == 'home'][0]{
  ...,
}`);

const { data } = await loadQuery<HomeQueryResult>({
  query: homeQuery,
});

// console.log(data);
---

<main>
  {
    data?.modules?.map(
      (module) => module._type === "hero" && <Hero hero={module} />,
    )
  }
</main>
